body {
    background: #f5d9d5;
    font-family: "Noto Sans KR", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb h3 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 1.5rem;
 }

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    text-align: center;
    margin-top: 140px;
    border-top: 1px solid rgba(250, 250, 250, 0.5);
    padding: 50px 0px;
}

.footer p {
    font-size: 14px;
    color: white;
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#image {
    background-image: url("./imgs/vincentvangogh_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headingGroup {
    padding: 3rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (min-width: 500px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 1.0rem;
    }
    
    #headingGroup h2 {
        font-size: 0.75rem;
    }

    #headingGroup p {
        font-size: 0.75rem;
    }

    .blurb h2 {
        font-size: 0.75rem;
    }
}

@media (min-width: 600px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 1.5rem;
    }

    #headingGroup h2 {
        font-size: 1rem;
    }

    #headingGroup p {
        font-size: 1rem;
    }

    .blurb h2 {
        font-size: 1rem;
    }
}

@media (min-width: 900px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

    #headingGroup h2 {
        font-size: 2rem;
    }

    #headingGroup p {
        font-size: 1.25rem;
    }

    .blurb h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 4rem;
    }

    #headingGroup h2 {
        font-size: 2rem;
    }

    #headingGroup p {
        font-size: 1.25rem;
    }

    .blurb h2 {
        font-size: 2rem;
    }
}